In [296]:
import pandas as pd

df1 = pd.read_excel('Query Builder for Historic Annual Recreation Visits (1904 - 1979).xlsx')
#data location: https://irma.nps.gov/Stats/SSRSReports/National%20Reports/Query%20Builder%20for%20Historic%20Annual%20Recreation%20Visits%20(1904%20-%201979)

df2 = pd.read_excel('Query Builder for Public Use Statistics (1979 - Last Calendar Year).xlsx') 
#data location: https://irma.nps.gov/Stats/SSRSReports/National%20Reports/Query%20Builder%20for%20Public%20Use%20Statistics%20(1979%20-%20Last%20Calendar%20Year)

df3 = pd.read_excel('US National Parks Metadata.xlsx')
#data location: https://en.wikipedia.org/wiki/List_of_national_parks_of_the_United_States

In [297]:
#df3 (metadata dataframe)

df3[['State', 'Coordinates']] = df3['Location'].str.split('\n', expand=True)
df3[['Latitude', 'Longitude']] = df3['Coordinates'].str.split(' ', expand=True)

#drop the intermediate columns
df3.drop(['Location', 'Coordinates'], axis=1, inplace=True)
df3.drop('Park', axis=1, inplace=True)

# print(df3)
df3.head()

,Unit Code,Date Established,Area in acres (2023),Description,State,Latitude,Longitude
0,ACAD,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
1,NPSA,1988-10-31 00:00:00,8256.67,The southernmost national park is on three Sam...,American Samoa,14.25°S,170.68°W
2,ARCH,1971-11-12 00:00:00,76678.98,"This site features more than 2,000 natural san...",Utah,38.68°N,109.57°W
3,BADL,1978-11-10 00:00:00,242755.94,"The Badlands are a collection of buttes, pinna...",South Dakota,43.75°N,102.50°W
4,BIBE,1944-06-12 00:00:00,801163.21,Named for the prominent bend in the Rio Grande...,Texas,29.25°N,103.25°W

In [309]:
#df1:

df1.rename(columns={'Total Recreation\nVisits':'Recreation Visits'}, inplace=True)

df1['Park'] = df1['Park'].str.replace(' NP$', '', regex=True) 
df1['Park'] = df1['Park'].str.replace('NP & PRES','', regex=True)
df1['Park'] = df1['Park'].str.replace(' NP ','', regex=True)
df1['Month'] = ''
df1['Historical'] = 'Y'
# df1.drop('State',axis=1, inplace=True)
# df1.head()

#enrich df1 with metadata

df_historical = pd.merge(df1,df3,on='Unit Code')
# df_historical.drop('State_x',axis=1, inplace=True)
df_historical = df_historical.reindex(columns=['Park', 'Unit Code', 'Region', 'Year', 'Month', 'Recreation Visits', 'Historical', 'Date Established', 'Area in acres (2023)', 'Description', 'State', 'Latitude', 'Longitude'])

df_historical.head()

,Park,Unit Code,Region,Year,Month,Recreation Visits,Historical,Date Established,Area in acres (2023),Description,State,Latitude,Longitude
0,Acadia,ACAD,Northeast,1919,,64000,Y,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
1,Acadia,ACAD,Northeast,1920,,66500,Y,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
2,Acadia,ACAD,Northeast,1921,,69836,Y,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
3,Acadia,ACAD,Northeast,1922,,73779,Y,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
4,Acadia,ACAD,Northeast,1923,,64200,Y,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W

In [310]:
#df2:
df2['Park'] = df2['Park'].str.replace(' NP$', '', regex=True) 
df2['Park'] = df2['Park'].str.replace('& PRES','', regex=True)
df2['Park'] = df2['Park'].str.replace(' NP ','', regex=True)
#create column for historical (Y/N)
df2['Historical'] = 'N'
# df2.drop('State',axis=1, inplace=True)
df2.head()

#enrich df2 with metadata

df_current = pd.merge(df2,df3,on='Unit Code')
# df_current.drop('State_x', axis=1, inplace=True)

df_current = df_current.reindex(columns=['Park', 'Unit Code', 'Region', 'Year', 'Month', 'Recreation Visits', 'Historical', 'Date Established', 'Area in acres (2023)', 'Description', 'State', 'Latitude', 'Longitude'])

df_current.head()

,Park,Unit Code,Region,Year,Month,Recreation Visits,Historical,Date Established,Area in acres (2023),Description,State,Latitude,Longitude
0,Acadia,ACAD,Northeast,1979,1,6011,N,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
1,Acadia,ACAD,Northeast,1979,2,5243,N,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
2,Acadia,ACAD,Northeast,1979,3,11165,N,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
3,Acadia,ACAD,Northeast,1979,4,219351,N,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
4,Acadia,ACAD,Northeast,1979,5,339416,N,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W

In [311]:
#union df 1 and df 2
final_df = pd.concat([df_historical,df_current],ignore_index=True)

final_df.head()

,Park,Unit Code,Region,Year,Month,Recreation Visits,Historical,Date Established,Area in acres (2023),Description,State,Latitude,Longitude
0,Acadia,ACAD,Northeast,1919,,64000,Y,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
1,Acadia,ACAD,Northeast,1920,,66500,Y,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
2,Acadia,ACAD,Northeast,1921,,69836,Y,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
3,Acadia,ACAD,Northeast,1922,,73779,Y,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W
4,Acadia,ACAD,Northeast,1923,,64200,Y,1919-02-26 00:00:00,49071.4,Covering most of Mount Desert Island and other...,Maine,44.35°N,68.21°W

In [312]:
final_df.to_excel('US National Park Visitation.xlsx', index=False)